---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import BackToTop from "@components/BackToTop.astro";

const currentYear = new Date().getFullYear();
---

<footer class='animate'>
  <Container>
    <div class='flex justify-between items-center mb-8 md:mb-4'>
      <div>
        &copy; {currentYear}
        {`|`}
        {SITE.NAME}
      </div>
      <div class='flex flex-wrap gap-1 items-center'>
        <BackToTop />
      </div>
    </div>
  </Container>
</footer>
