---
import Container from "@components/Container.astro";
import { SITE } from "@constants";

const currentPath = Astro.url.pathname;

const navItems = [
  { href: "/posts", label: "posts", icon: "/icons/newspaper.svg" },
  { href: "/work", label: "work", icon: "/icons/briefcase.svg" },
  { href: "/projects", label: "projects", icon: "/icons/rocket.svg" },
];
---

<header>
  <Container>
    <div class='flex flex-wrap gap-y-2 justify-between'>
      <a href='/' class='inline-block no-underline'>
        <div class='font-semibold text-current'>
          {SITE.NAME}
        </div>
      </a>
      <nav class='flex gap-3'>
        {
          navItems.map(({ href, label, icon }) => {
            const isActive = currentPath.startsWith(href);
            return (
              <a href={href} class='inline-block no-underline'>
                <button
                  class={`relative group w-fit flex items-center gap-2 px-3 py-1.5 flex-nowrap rounded border transition-colors duration-300 ease-in-out ${
                    isActive
                      ? "bg-white/10 text-white border-white/20"
                      : "hover:bg-white/5 hover:text-white border-transparent"
                  }`}
                >
                  <img src={icon} alt='' class='w-4 h-4' />
                  {label}
                </button>
              </a>
            );
          })
        }
      </nav>
    </div>
  </Container>
</header>
