---
import { cn } from "@lib/utils";
import "../styles/global.css";
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import CodeCopyButton from "@components/CodeCopyButton.astro";
import { SITE } from "@constants";

type Props = {
  title: string;
  description: string;
  showHeader?: boolean;
};

const { title, description, showHeader = true } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head
      title={title ? `${title} | ${SITE.NAME}` : SITE.NAME}
      description={description}
    />
  </head>
  <body>
    {showHeader && <Header />}
    <main class={cn(showHeader ? "" : "py-0")}>
      <slot />
    </main>
    <Footer />
    <CodeCopyButton />
  </body>
</html>
